body{
    background-color: #000;
}

canvas {
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scoreBoard {
    width: 512px;
    height: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scoreBoard .innerBoard {
    width: inherit;
    height: inherit;
    position: relative;
}

#scoreBoard .innerBoard .fuelMeter {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
}

#scoreBoard .innerBoard .fuelMeter .fuelLevelContainer {
    width: 100px;
    padding: 0px 5px;
}

#scoreBoard .innerBoard .fuelMeter .fuelLevelContainer .fuelLevel {
    width: 50px;
    height: 20px;
    background-color: #0A0;
}

.meterBox {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 512px;
}

#scoreBoard .innerBoard .timeMeter {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
}

#scoreBoard .innerBoard .timeMeter .label {
    margin-right: 10px;
}

#scoreBoard .innerBoard .speedMeter {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 720px;
    display: flex;
    background-image: linear-gradient(to top, rgba(220,172,160,0.2), rgba(11,11,111,0));
}

#scoreBoard .innerBoard .speedMeter .speed {
    width: 30px;
    text-align: right;
}

#scoreBoard .innerBoard .speedMeter .unit {
    margin-left: 5px;
}

#scoreBoard .innerBoard .distanceMeter {
    position: absolute;
    right: 10px;
    top: 50px;
    display: flex;
}

#scoreBoard .innerBoard .distanceMeter .distance {
    margin-right: 10px;
}